<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConcordanceApp.Properties.Settings.ConcordationConnectionString3"
            connectionString="Data Source=SHAKEDAV-PC\CONCORDATION;Initial Catalog=Concordation;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="concordanceapConcordationDataSetTableAdaptersp.Properties.Settings.ConcordationConnectionString"
            connectionString="Data Source=.\CONCORDATION;Initial Catalog=Concordation;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>