<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConcordanceApp.Properties.Settings.ConcordationConnectionString3"
            connectionString="Data Source=SHAKEDAV-PC\CONCORDATION;Initial Catalog=Concordation;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="concordanceapConcordationDataSetTableAdaptersp.Properties.Settings.ConcordationConnectionString3"
            connectionString="Data Source=1-PC\CONCORDANCE;Initial Catalog=Concordance;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="concordanceapConcordationDataSetTableAdaptersp.Properties.Settings.ConcordationConnectionString"
            connectionString="Data Source=SHAKEDAV-PC\CONCORDATION;Initial Catalog=Concordation;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="concordanceapConcordationDataSetTableAdaptersp.Properties.Settings.ClientConcordationConnectionString"
            connectionString="Data Source=|DataDirectory|\Concordation.sdf;Max Database Size=2047"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>